.primary-btn {

	padding:var(--space-16) var(--space-24);

	border-radius:var(--radius-md);

	transition:var(--transition-normal);
}

.filter {
	padding:var(--space-16) var(--space-24);

	border-radius:var(--radius-md);

	transition:var(--transition-normal);
}

.project-card {
	padding:var(--space-16) var(--space-24);

	border-radius:var(--radius-md);

	transition:var(--transition-normal);
}

.overview-card {
	padding:var(--space-16) var(--space-24);

	border-radius:var(--radius-md);

	transition:var(--transition-normal);
}

.priority {
	padding:var(--space-16) var(--space-24);

	border-radius:var(--radius-md);

	transition:var(--transition-normal);
}


.progress-bar {}